#footer
  %br
    %br
      %nav#Navbar
        %a{:href => "/"} Home
        |
        %a{:href => "/contact"} Contact Us
        |
        %a{:href => "/legal"} Legal Info
      %br
        &copy;2012 Qsario
      %br
      "Minecraft" is a trademark of Mojang AB.  We are not affiliated with them.
/ End of footer
