!!!
%html
  %head
    %title Qsario - Find and Share Minecraft Worlds
    %link{:href => "/css/layout.css",      :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/colors.css",      :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/file_upload.css", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "/js/swfupload.js",       :type => "text/javascript"}
    %script{:src => "/js/swfupload.queue.js", :type => "text/javascript"}
    %script{:src => "/js/fileprogress.js",    :type => "text/javascript"}
    %script{:src => "/js/handlers.js",        :type => "text/javascript"}

    :javascript
      var swfu;
      var file_id = Math.random().toString(36).substring(2);
      var key = "temp/" + file_id;

      window.onload = function() {
        var settings = {
          flash_url: "/swfupload.swf",
          upload_url: "https://qsario.s3.amazonaws.com/",
          
          post_params: {  
            "key": key, 
            "AWSAccessKeyId": "AKIAJIVH6QZ2Z2EJ235A",
            "acl": "public-read",
            "success_action_status": "201",
            "policy": "ewogICJleHBpcmF0aW9uIjogIjIwMjAtMDEtMDFUMDA6MDA6MDBaIiwKICAiY29uZGl0aW9ucyI6IFsgCiAgICB7ImJ1Y2tldCI6ICJxc2FyaW8ifSwgCiAgICBbInN0YXJ0cy13aXRoIiwgIiRrZXkiLCAidGVtcC8iXSwKICAgIHsiYWNsIjogInB1YmxpYy1yZWFkIn0sCiAgICB7InN1Y2Nlc3NfYWN0aW9uX3N0YXR1cyIsICIyMDEifSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtVHlwZSIsICIiXSwKICAgIFsic3RhcnRzLXdpdGgiLCAiJENvbnRlbnQtRGlzcG9zaXRpb24iLCAiYXR0YWNobWVudDsgZmlsZW5hbWU9Il0sCiAgICBbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwgMSwgNzM0MDAzMjBdCiAgXQp9Cg==",
            "signature": "cRcNQQolJCpAYvvsJfzmkBJ2Iik=",
            "Content-Type": "application/octet-stream",
            "Content-Disposition": "attachment"
          },

          file_size_limit : "70 MB",
          file_types : "*.*",
          file_types_description : "Minecraft Files",
          file_upload_limit : 70,
          file_queue_limit : 1,

          custom_settings : {
            progressTarget : "fsUploadProgress",
            cancelButtonId : "btnCancel"
          },

          debug: false,
          button_image_url: "images/select.png",
          button_width: "100",
          button_height: "29",
          button_placeholder_id: "spanButtonPlaceHolder",

          file_queued_handler : fileQueued,
          file_queue_error_handler : fileQueueError,
          file_dialog_complete_handler : fileDialogComplete,
          upload_start_handler : uploadStart,
          upload_progress_handler : uploadProgress,
          upload_error_handler : uploadError,
          upload_success_handler : uploadSuccess,
          upload_complete_handler : uploadComplete,
          queue_complete_handler : queueComplete 
        };

        swfu = new SWFUpload(settings);
      };

    :css
      .tabs {
      	position: relative;
      	min-height: 500px;
      	clear: both;
      	margin: 25px 0;
      }
      
      .tab {
      	float: left;
      }
      
      .tab label {
      	padding: 10px;
      	margin-left: -1px;
      	position: relative;
      	left: 6px;
      }
      
      .tab [type=radio] {
      	display: none;
      }
      
      .content {
      	position: absolute;
        min-height: 500;
        top: 28px;
      	left: 0;
      	right: 0;
      	bottom: 0;
      	padding: 20px;
      	-webkit-border-radius: 8px;
      	-moz-border-radius: 8px;
      	border-radius: 8px;
      }
      
      [type=radio]:checked ~ label {
      	z-index: 2;
      }
      
      [type=radio]:checked ~ label ~ .content {
      	z-index: 1;
      }
      
      table.in-tab {
      	width:95%;
      	margin: 0 auto;
      }
      
      .login input[type="submit"] {
      	width: 80%;
      	margin: 0 auto;
      }
      
      .borderless {
      	border: 0px;
      }
      
  %body
    = haml :header
    / Body
    #content
      .tabs
        .tab
          %input#tab-1{:checked => "", :name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-1"} Getting Started
            .content
              Welcome to Qsario!  You can find many great Minecraft worlds here, or create an account and upload
              one of your own.
        .tab
          %input#tab-2{:name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-2"} Mods
            .content
              %table.in-tab
                %tr
                  %th Name
                  %th Description
                  %th Size
                %tr
                  %td Free Diamonds
                  %td Mod to make mobs drop diamonds.
                  %td 30 MB
                %tr
                  %td Fly any time
                  %td This gives you wings!
                  %td 40 MB
        .tab
          %input#tab-3{:name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-3"} Saves
            .content
              %table.in-tab
                %tr
                  %th Name
                  %th Description
                  %th Size
                %tr
                  %td Treeworld
                  %td My awesome treehouse
                  %td 30 MB
                %tr
                  %td Mob Grinder
                  %td A giant mob grinder in the sky!
                  %td 40 MB
        .tab
          %input#tab-4{:name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-4"} Upload
            .content
              - if logged_in?
                %form{:action=>"/test",:method=>"post",:enctype=>"multipart/form-data"}
                  #fsUploadProgress.fieldset.flash
                    %span.legend Upload Queue
                  #divStatus Select a file
                  %div
                    %span#spanButtonPlaceHolder
                    %input#btnCancel{:disabled => "disabled", :onclick => "swfu.cancelQueue();", :style => "margin-left: 2px; font-size: 8pt; height: 29px;", :type => "button", :value => "Cancel Upload"}/
              - else 
                You need to be logged in to upload. Do you need to
                %a{:href => "/register"} create an account
                ?
    / End of body
    = haml :footer
