!!!
%html
  %head
    %title Qsario - Find and Share Minecraft Worlds
    %link{:href => "/css/layout.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/colors.css", :rel => "stylesheet", :type => "text/css"}/
    :css
      .tabs {
      	position: relative;
      	min-height: 500px;
      	clear: both;
      	margin: 25px 0;
      }
      
      .tab {
      	float: left;
      }
      
      .tab label {
      	padding: 10px;
      	margin-left: -1px;
      	position: relative;
      	left: 6px;
      }
      
      .tab [type=radio] {
      	display: none;
      }
      
      .content {
      	position: absolute;
      	top: 28px;
      	left: 0;
      	right: 0;
      	bottom: 0;
      	padding: 20px;
      	-webkit-border-radius: 8px;
      	-moz-border-radius: 8px;
      	border-radius: 8px;
      }
      
      [type=radio]:checked ~ label {
      	z-index: 2;
      }
      
      [type=radio]:checked ~ label ~ .content {
      	z-index: 1;
      }
      
      table.in-tab {
      	width:95%;
      	margin: 0 auto;
      }
      
      .login input[type="submit"] {
      	width: 80%;
      	margin: 0 auto;
      }
      
      .borderless {
      	border: 0px;
      }
      
  %body
    = haml :header
    / Body
    #content
      .tabs
        .tab
          %input#tab-1{:checked => "", :name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-1"} Getting Started
            .content
              Welcome to Qsario!  You can find many great Minecraft worlds here, or create an account and upload
              one of your own.
        .tab
          %input#tab-2{:name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-2"} Mods
            .content
              %table.in-tab
                %tr
                  %th Name
                  %th Description
                  %th Size
                %tr
                  %td Free Diamonds
                  %td Mod to make mobs drop diamonds.
                  %td 30 MB
                %tr
                  %td Fly any time
                  %td This gives you wings!
                  %td 40 MB
        .tab
          %input#tab-3{:name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-3"} Saves
            .content
              %table.in-tab
                %tr
                  %th Name
                  %th Description
                  %th Size
                %tr
                  %td Treeworld
                  %td My awesome treehouse
                  %td 30 MB
                %tr
                  %td Mob Grinder
                  %td A giant mob grinder in the sky!
                  %td 40 MB
        .tab
          %input#tab-4{:name => "tab-group-1", :type => "radio"}
            %label{:for => "tab-4"} Upload
            .content
              %form{:action=>"/upload",:method=>"post",:enctype=>"multipart/form-data"}
                %input{:type=>"file",:name=>"file"}
                %input{:type=>"submit",:value=>"Upload"}
              You need to log in to upload. Do you need to
              = succeed "?" do
                %a{:href => "/register"} create an account
    / End of body
    = haml :footer
