%html
  %head
    %title Qsario | Legal Info - Find and Share Minecraft Worlds
    %link{:href => "/css/layout.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/colors.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    = haml :header
    #content
      %fieldset
        %legend Legal Info
        %p
          Minecraft is a trademark of Mojang AB.  We are not affiliated with them.
          We comply with the DMCA.  Please 
          %a{:href => "/contact"} contact us
          about any infringing content so that we can remove it.
        %br/
        %br/
        %p Use of this site constitutes acceptance of the site rules:
        %br/
        %br/
        %ul
          %li Don't upload anything that doesn't belong here.
          %li Don't spam anyone.
          %li Don't try to hack the site.
          %li Don't overload or cause trouble for the site.
          %li We can take files down for any reason.
    / End of content
    = haml :footer
