%html
  %head
    %title Qsario | Register - Find and Share Minecraft Worlds
    %link{:href => "/css/layout.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/colors.css", :rel => "stylesheet", :type => "text/css"}/
    :css
      #new_account {
      	float: left;
      	width: 200px;
      }

      #header {
        height: 150px;
      }

      #explanation {
      	margin-top: 10px;
      	margin-left: 230px;
      	padding: 10px;
      	min-height:350px;
      	height:auto !important;
      	height:350px;
      }
      
      input[type="submit"] {
      	width: 80%;
      	margin: 0 auto;
      }
      
  %body
    = haml :header
    #content
      %fieldset#new_account
        %legend User Registration
        %form#new_account_form{:onsubmit => "javascript:alert('Creating new account! (to do)');return false;"}
          %span{:style => "visibility: hidden; height: 0px; display: none !important"}
            Spammers only:
            %input{:name => "email", :size => "1", :type => "text"}/
          %br/
          %label
            Name
            %br/
            %input{:maxlength => "25", :name => "name", :placeholder => "new_user123", :size => "20", :type => "text"}/
          %label
            Email
            %br/
            %input{:maxlength => "50", :name => "spambot_fakeout", :placeholder => "user@example.com", :size => "20", :type => "text"}/
          %br/
          %br/
          %label
            Password
            %br/
            %input{:maxlength => "50", :name => "password", :size => "20", :type => "password"}/
          %br/
          %br/
          %label
            Confirm password
            %br/
            %input{:maxlength => "50", :name => "password_confirm", :size => "20", :type => "password"}/
          %br/
          %br/
          %input{:type => "submit", :value => "Register"}/
          %br/
      #explanation
        %p
          You only need an account to upload.  Downloading is free.  By registering, you agree to the site rules.
          %br/
          %br/
          Site Rules:
          %br/
          %br/
        %ul
          %li Don't upload anything that doesn't belong here.
          %li Don't spam anyone.
          %li Don't try to hack the site.
          %li Don't overload or cause trouble for the site.
          %li We can take files down for any reason.
          %li Do not upload anything that belongs to Mojang AB.
    / End of content
    = haml :footer
